//
// .song-list {
//   // background-color: blue;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   justify-content: center;
//   align-content: stretch;
//   align-items: center;
//   list-style: none;
// }
//
// .song {
//   order: 0;
//   flex: 0 1 auto;
//   align-self: auto;
//
//   // make it a flexbox:
//   display: flex;
//   flex-direction: row;
//   flex-wrap: nowrap;
//   justify-content: space-between;
//   // align-content: space-between;
//   align-items: center;
//   width: 50%;
// }
//
// .song-info {
//   order: 0;
//   flex: 0 1 auto;
//   align-self: auto;
// }


// table

.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
  margin: auto;
  width: 50%;
}

.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;  // Default to full width
  padding: 0.8em 1.2em;
  overflow: hidden; // Or flex might break
  list-style: none;
  border: solid 1px white;
  background: fade(slategrey,20%);
  > h1, > h2, > h3, > h4, > h5, > h6 { margin: 0; }

    &-header {
      font-size: 20px;
      font-weight: bold;
    }
}

/* Table column sizing
================================== */
.Rtable--2cols > .Rtable-cell  { width: 50%; }
.Rtable--3cols > .Rtable-cell  { width: 33.33%; }
.Rtable--4cols > .Rtable-cell  { width: 25%; }
.Rtable--5cols > .Rtable-cell  { width: 20%; }
.Rtable--6cols > .Rtable-cell  { width: 16.6%; }
